<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Zynema - Filme, Seriale și Recenzii</title>
    <meta name="description" content="Zynema - Catalog pentru recenzii filme, seriale și noutăți din cinema.">
    <meta name="keywords" content="recenzii filme, seriale, cinema, top filme, Zynema">
   <%- include("../fragmente/head") %>
      
</head>
<body id="sus">
    <div id="watermark-print">
    Vlad<br>Gherghel
</div>
  <%- include("../fragmente/header") %>
    <main>
        <div id="grid-pagina">
            
            <section id="zona-1" class="grid-item">
                <hgroup>
                    <h2>Bun venit în universul Zynema</h2>
                    <p>Sanctuarul cinefililor și al analizelor aprofundate</p>
                    <p>Arunca un ochi la arhiva noastra de genuri: <a href="#zona-5">Chiar Aici</a></p>
                </hgroup>  
                <p>IP <%- locals.ip %></p> 
                <h2 class="text-reflexie" data-text="Cinematografie">Cinematografie</h2>
                <hr class="stil-personalizat">
                <article>
                    <h3>Manifestul Nostru</h3>
                    <p>Pe platforma <b>Zynema</b> nu ne mulțumim doar cu simple impresii; disecăm cele mai noi <b>recenzii filme</b> și dezbatem <b>seriale</b> care redefinesc televiziunea modernă.</p>
                    <p>Algoritmul nostru unic de evaluare este <dfn id="def-rating">Z-Score</dfn>, o metrică ce filtrează recenziile false.</p>
                    <p><strong>Atenție! Analizele noastre conțin spoilere majore pentru intriga filmelor.</strong></p>
                    <p>Suntem obsedați de capodoperele <i>neo-noir</i> și de cinematografia <i>avant-garde</i>. Recunoaștem, uneori suntem <em>exagerat</em> de pretențioși. Scorul acordat inițial ultimului blockbuster a fost <s>nedrept de mic</s>, dar acum a fost <ins>revizuit obiectiv</ins>.</p>
                    <p>Astăzi, departamentele de <abbr title="Computer Generated Imagery">CGI</abbr> fac minuni, dar nu uitați regula de aur a lui Kubrick: <q>Filmul se naște și moare la masa de montaj.</q> Mai multe secrete ale regizorilor în <cite>Arta Cinematografiei</cite>.</p>
                </article>
                <p>Istoria peliculei explicată: <a href="https://ro.wikipedia.org/wiki/Cinematografie#Istoria_și_evoluția_tehnologică">https://ro.wikipedia.org<wbr>/wiki<wbr>/Cinematografie<wbr>#Istoria</a></p>
                
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" class="formula-stilizata">
                    <mi class="math-z">Z</mi><mo class="math-op">=</mo>
                    <mfrac>
                        <mrow>
                            <msub><mi class="math-n">n</mi><mn class="math-idx">1</mn></msub>
                            <mo class="math-plus">+</mo>
                            <msub><mi class="math-n">n</mi><mn class="math-idx">2</mn></msub>
                        </mrow>
                        <mn class="math-num">2</mn>
                    </mfrac>
                </math>
            </section>

            <section id="zona-2" class="grid-item">
                <h2>Box Office & Bugete 2026</h2>
                <div class="table-container">
                    <table>
                        <caption>Mega-producțiile anului și investițiile studiourilor</caption>
                        <thead>
                            <tr>
                                <th>Titlu Peliculă</th>
                                <th>Genul Principal</th>
                                <th>Fereastră Lansare</th>
                                <th>Buget Estimat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Neon Genesis: Live Action</td>
                                <td>Sci-Fi / Mecha</td>
                                <td>Aprilie 2026</td>
                                <td>$210M</td>
                            </tr>
                            <tr>
                                <td>Ecouri din Adâncuri - Partea I</td>
                                <td>Thriller Psihologic</td>
                                <td>Mai 2026</td>
                                <td rowspan="2">$150M (Filmate simultan)</td>
                            </tr>
                            <tr>
                                <td>Ecouri din Adâncuri - Partea II</td>
                                <td>Thriller Psihologic</td>
                                <td>August 2026</td>
                            </tr>
                            <tr>
                                <td>Odiseea Spațială: Reboot</td>
                                <td colspan="2">Amânat pentru refacere efecte vizuale</td>
                                <td>$90M</td>
                            </tr>
                            <tr>
                                <td>Umbrele Viitorului</td>
                                <td>Neo-Noir / Crime</td>
                                <td>Decembrie 2026</td>
                                <td>$120M</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">Datele sunt extrase din rapoartele financiare publice ale studiourilor.</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

<section id="zona-3" class="grid-item">
    <h2>Regizorii despre care discutăm astăzi</h2>
    <div id="galerie-statica">
        <% 
      
        let vectorZile = ["duminica", "luni", "marti", "miercuri", "joi", "vineri", "sambata"];
        
        let indexZiCurenta = new Date().getDay(); 

        for (let imag of locals.imagini) { 
            let afiseazaPoza = false;
            
            if (imag.intervale_zile) {
                for (let interval of imag.intervale_zile) {
                    let indexStart = vectorZile.indexOf(interval[0]); 
                    let indexStop = vectorZile.indexOf(interval[1]);  
                    
                    if (indexStart <= indexStop) {
                        // Interval normal (ex: luni - joi)
                        if (indexZiCurenta >= indexStart && indexZiCurenta <= indexStop) {
                            afiseazaPoza = true;
                            break;
                        }
                    } else {
                        // Interval peste weekend (ex: vineri - marti)
                        if (indexZiCurenta >= indexStart || indexZiCurenta <= indexStop) {
                            afiseazaPoza = true;
                            break;
                        }
                    }
                }
            } else {
                afiseazaPoza = true;
            }
                                           
            if(afiseazaPoza){
        %>
                <figure title="<%= imag.descriere_poza %>">
                    <picture> 
                        <source srcset="<%= imag.fisier_mic %>" media="(max-width: 300px)">
                        <source srcset="<%= imag.fisier_mediu %>" media="(max-width: 1200px)">
                        <img src="<%= imag.fisier %>" alt="<%= imag.continut_alternativ || imag.nume_poza %>">
                    </picture> 
                    
                    <figcaption>
                        <span class="index"></span> 
                        <strong><%= imag.nume_poza %></strong> <br>
                        <small><%= imag.descriere_poza %></small>
                    </figcaption>
                </figure>
        <% 
            } 
        } 
        %>
    </div>
</section>

            <section id="zona-4" class="grid-item">
                <h2>Știri de pe Platourile de Filmare</h2>
                <p><time datetime="2026-03-15">15 Martie 2026</time> Denis Villeneuve confirmă oficial începerea pre-producției pentru adaptarea "Rendezvous with Rama".</p>
                <p><time datetime="2026-02-28">28 Februarie 2026</time> <strong>Festivalul de la Cannes dezvăluie selecția oficială!</strong> Marii absenți ai anului au șocat criticii europeni.</p>
            </section>

            <section id="zona-5" class="grid-item">
                <h2>Arhiva de Genuri</h2>
                <section>
                    <h3>Mind-Bending Thrillers</h3>
                    <ul>
                        <li>Shutter Island (Ediția Remasterizată 4K)</li>
                        <li>Se7en (Comentariul Regizorului)</li>
                        <li>Memento</li>
                    </ul>
                </section>
                <section>
                    <h3>Hidden Gems (Cinematografie Indie)</h3>
                    <ul>
                        <li>Past Lives</li>
                        <li>Perfect Days</li>
                        <li>The Florida Project</li>
                    </ul>
                </section>
                   <section id="sectiune-duotone">
                    <div id="efect-duotone"></div>
                   </section>
            </section>

            <section id="zona-6" class="grid-item">
                <h2>Alegerea Redacției</h2>
                <article>
                    <h3>Recenzia Săptămânii: Dune Messiah</h3>
                    <p>O capodoperă vizuală absolută. Hans Zimmer se autodepășește, iar cinematografia semnată de Greig Fraser transformă fiecare cadru într-un tablou. Z-Score: <ins>9.8/10</ins>.</p>
                </article>
                <article>
                    <h3>Pachete Premium Zynema</h3>
                    <dl>
                        <dt>Abonamentul "Auteur"</dt>
                        <dd>Acces nelimitat la eseuri video și analize cadru cu cadru.</dd>
                        <dt>Abonamentul "Critic"</dt>
                        <dd>Include invitații la avanpremierele de presă din București.</dd>
                    </dl>
                </article>
            </section>

            <section id="zona-7" class="grid-item">
                <h2>Ghidul Utilizatorului</h2>
                <details>
                    <summary>De ce diferă Z-Score de notele de pe Rotten Tomatoes?</summary>
                    <p>Sistemul nostru elimină "review bombing-ul" prin verificarea biletelor și ponderarea recenziilor utilizatorilor vechi cu cele ale criticilor verificați.</p>
                </details>
                <details>
                    <summary>Unde pot sugera un film pentru "Noaptea Nolan"?</summary>
                    <p>Avem un canal dedicat pe serverul nostru de Discord, disponibil pentru membrii Premium.</p>
                </details>
            </section>

            <section id="zona-8" class="grid-item">
                <h2>Multimedia & Teasere</h2>
                
                <div id="stilizare-taburi">
                    <nav class="tab-nav">
                        <a href="https://www.youtube.com/embed/ulVSOghY-ns" target="ifr-video" class="tab-link">Interviu Regizor</a>
                        <a href="https://www.youtube.com/embed/BmtceCYFpGo" target="ifr-video" class="tab-link">Behind the Scenes</a>
                        <a href="https://www.youtube.com/embed/8Qn_spdM5Zg" target="ifr-video" class="tab-link">Teaser Oficial</a> 
                    </nav>
                    <div class="iframe-wrapper">
                        <iframe name="ifr-video" src="https://www.youtube.com/embed/8Qn_spdM5Zg" title="Player Video Principal" allowfullscreen></iframe>
                    </div>
                </div>
                
               <div class="container my-5 galerie-postere-bootstrap">
                        <h3 class="titlu-galerie">Postere Oficiale</h3>
                        
                        <div class="row g-2 g-md-4">
                            <div class="col-6 col-md-6 col-lg-3">
                                <a href="/resurse/imagini/poster3.jpg" class="poster-link">
                                    <img src="/resurse/imagini/poster3.jpg" class="img-fluid poster-img" alt="Poster oficial">
                                </a>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <a href="/resurse/imagini/poster1.jpg" class="poster-link">
                                    <img src="/resurse/imagini/poster1.jpg" class="img-fluid poster-img" alt="Poster oficial">
                                </a>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <a href="/resurse/imagini/poster2.jpg" class="poster-link">
                                    <img src="/resurse/imagini/poster2.jpg" class="img-fluid poster-img" alt="Poster oficial">
                                </a>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <a href="/resurse/imagini/poster4.jpg" class="poster-link">
                                    <img src="/resurse/imagini/poster4.jpg" class="img-fluid poster-img" alt="Poster oficial">
                                </a>
                            </div>
                        </div>
                </div>
                  <video class="video-prezentare" controls poster="/resurse/imagini/poster-video.jpg" preload="auto">
                    <source src="/resurse/video/film.mp4" type="video/mp4">
                    <source src="/resurse/video/film.webm" type="video/webm">
                    <track src="/resurse/vtt/ro.vtt" kind="subtitles" srclang="ro" label="Română" default>
                    <track src="/resurse/vtt/en.vtt" kind="subtitles" srclang="en" label="English">
                    
                     Mesaj de rezervă: Browserul tău nu suportă elementul video.
                  </video>
            </section>

        </div>
    </main>

   <%- include("../fragmente/footer") %>
</body>
</html>